@model BTL_WNC.Models.tblCategory

@{
    ViewBag.Title = "CreateCategory";
    Layout = "~/Views/Shared/Backend/_LayoutBackend.cshtml";
}

<h2>CreateCategory</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    <div class="form-horizontal">
        <h4>tblCategory</h4>
        <hr />
        

        <div class="form-group">
            @Html.LabelFor(model => model.sName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.sName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.sName, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.link, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.link, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.link,null, new { @class="text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Categories", "Backend")
</div>
